<ion-view view-title="List" cache-view="false">
    <ion-content class="padding">

        <ion-refresher on-refresh="list.doRefresh()"></ion-refresher>

        <table class="rwd-table">
            <tr>
                <th>Name</th>
                <th>Species</th>
                <th>Style</th>
                <th>Age</th>
                <th>Height</th>
                <th>Diameter</th>
                <th>Pot</th>
                <th>Note</th>
            </tr>
            <tr ui-sref="tab.detail({id: bonsai.id})" ng-repeat="bonsai in list.bonsais">
                <td data-th="Name">{{bonsai.name}}</td>
                <td data-th="Species">{{bonsai.species}}</td>
                <td data-th="Style">{{bonsai.style}}</td>
                <td data-th="Age">{{bonsai.age}}</td>
                <td data-th="Height">{{bonsai.height}}</td>
                <td data-th="Diameter">{{bonsai.diameter}}</td>
                <td data-th="Pot">{{bonsai.pot}}</td>
                <td data-th="Note">{{bonsai.note}}</td>
            </tr>
        </table>

    </ion-content>
</ion-view>



